@use "../../../styles/mixins" as mxn;

.box {
  & .create-account__form--password--field {
    @include mxn.flex;
    gap: 4px;

    & div {
      @include mxn.flex(column);
      flex: 1 0;
    }

    & button {
      @include mxn.header-button;
      align-self: flex-end;
      transition: var(--transition-one);
      cursor: pointer;

      & svg {
        fill: white;
      }

      &:hover,
      &:focus {
        transform-origin: center;
      }
    }
  }
}
