@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 var(--container-padding);
}

body {
  line-height: 1.618;
  font-size: calc(1.2rem + 0.6vmin);
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & #root {
    flex: 1 0;
    display: flex;
    flex-direction: column;
  }

  .dark {
    // need to establish a color theme for the dark theme
    --primary-color: rgb(22, 22, 22);
    --secondary-color: #7c603c;
    --tertiary-color: #fdb329;
    --default-color: linear-gradient(
      115deg,
      rgb(50, 50, 50) 0%,
      rgb(40, 40, 40) 50%,
      rgb(30, 30, 30) 100%
    );
    --background-color: rgb(60, 60, 60);
    --text-color: rgba(255, 255, 255, 0.86);
    --user-nav-text-color: rgba(255, 255, 255, 0.86);
  }

  .light {
    // need to establish a color theme for the light theme (by default)
    --primary-color: #102c57;
    --secondary-color: #f2c58e;
    --tertiary-color: #f25e00;
    --default-color: linear-gradient(
      115deg,
      rgba(196, 196, 196, 1) 0%,
      rgba(163, 163, 163, 1) 50%,
      rgba(133, 133, 133, 1) 100%
    );
    --background-color: rgb(255, 255, 255);
    --text-color: rgba(255, 255, 255, 0.86);
    --user-nav-text-color: #102c57;
  }
}

*[class*="adaptative-img"] {
  position: relative;
}

*[class*="adaptative-img"] > img {
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  position: absolute;
}

.adaptative-img--cover > img {
  object-fit: cover;
}

.adaptative-img--contain > img {
  object-fit: contain;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
