@mixin flex($direction: "row", $wrap: "wrap") {
  display: flex;
  flex-direction: #{$direction};
  flex-wrap: #{$wrap};
}

@mixin grow($val: 1) {
  flex-grow: #{$val};
  flex-shrink: 0;
  flex-basis: 0;
}
// @mixin button {
//   color: var(--white);
//   border-radius: 4px;
//   text-align: center;
//   text-transform: uppercase;
//   letter-spacing: 0.5px;
//   box-shadow: var(--boxshadow-button);
//   transition: var(--transition-one);
// }

@mixin box {
  transform: translateY(-20%);
  box-shadow: 0 0 0 3px var(--primary-color);
  border-radius: var(--radius);
  background: var(--primary-color);
  color: var(--background-color);
  min-width: 300px;

  h2 {
    border-radius: var(--radius) var(--radius) 0 0;
    box-shadow: 0 0 0 1px var(--primary-color);
    width: 100%;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
  }
}
