@use "../../styles/mixins" as mxn;

.admin {
  @include mxn.flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 16px;
  width: 100%;
  position: relative;

  &__block {
    @include mxn.flex(column);
    align-items: center;

    .account__nav,
    .groupe__nav {
      @include mxn.flex;
      gap: 16px;
      justify-content: center;

      & > button {
        @include mxn.button($active: false);
      }
      .active {
        @include mxn.button($active: true);
      }
    }
    .account__nav--exit--button,
    .groupe__nav--exit--button {
      @include mxn.button($active: false);
      position: absolute;
      top: 16px;
      right: 16px;
      padding: 0 8px;
      border-radius: 24px;
    }
  }
  .box {
    @include mxn.box;
    max-width: 350px;

    & > form {
      @include mxn.flex(column);
      gap: 32px;
      padding: 8px 16px 16px 16px;

      & > ul {
        @include mxn.flex(column);
        gap: 8px;
        & > li > div {
          @include mxn.flex(column);
          gap: 8px;
        }
      }
      & .error {
        font-size: var(--small-font);
        color: var(--orange);
        text-wrap: wrap;
      }
      & button {
        align-self: center;
      }
    }
  }
}
