@use "../../../styles/mixins" as mxn;

.admin-dashboard {
  @include mxn.flex;
  padding-top: 32px;
  & > ul {
    @include mxn.flex;
    justify-content: center;
    gap: 32px;
    align-items: center;

    & li > button {
      color: var(--text-color);
    }
    & ul {
      @include mxn.flex(column);
      gap: 16px;
      transition: var(--transition-two);

      & > li:first-child {
        transform: translateY(110%);
        transition: var(--transition-two);
      }

      & > li:nth-child(2) {
        z-index: 2;
      }

      & > li:last-child {
        transform: translateY(-110%);
        transition: var(--transition-two);
      }

      &:hover {
        & > li:first-child {
          transform: translateY(0);
        }
        & > li:last-child {
          transform: translateY(0);
        }
      }
    }
  }

  @media only screen and (max-width: (1045px)) {
    padding: 16px 0;
    .tile-list {
      @include mxn.flex(column);
      gap: 8px;
      align-items: stretch;
    }
  }
}
