@use "../../styles/mixins" as mxn;

.new-password {
  @include mxn.flex(column);
  gap: 16px;
  position: relative;

  &__block {
    padding: 8px;
    line-height: 1.2;
    background: var(--background-color);
    border-radius: var(--small-radius);
    color: var(--primary-color);
    box-shadow: inset 1px 1px 3px 1px var(--grey);

    &--title {
      font-weight: 400;
    }
  }

  & .valide {
    position: absolute;
    top: 36px;
    right: 4px;
  }

  .list__conditions {
    padding: 0 8px;
    & > li {
      @include mxn.flex;
      align-items: center;
      & > p {
        flex: 1 0;
        font-style: italic;
      }
      & .green {
        color: green;
      }
      & .red {
        color: red;
      }
      //   & > svg {

      //   }
    }
  }
}
