@use "../../styles/mixins" as mxn;

.admin {
  @include mxn.flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .box {
    gap: 16px;
    // position: absolute;
    // top: 30%;
    // left: 50%;
    // transform: translateX(-50%);
    box-shadow: 0 0 0 3px var(--primary-color);
    border-radius: var(--radius);
    background: var(--primary-color);
    color: var(--background-color);

    &__title {
      border-radius: var(--radius) var(--radius) 0 0;
      box-shadow: 0 0 0 1px var(--primary-color);
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }

    & > form {
      @include mxn.flex(column);
      align-items: flex-end;
      gap: 16px;
      padding: 16px;

      & > div {
        @include mxn.flex;
        gap: 8px;
        & label {
          flex: 1 0;
        }
        & input {
          flex: 1 0;
          min-width: 200px;
        }
      }
      & button {
        align-self: center;
      }
    }
  }
}
